name: Go

# Controls when the workflow will run
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Building on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        goV: [1.25, 1.24]

    steps:
      - name: Set up Go ${{ matrix.goV }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.goV }}

      - name: Check out repo
        uses: actions/checkout@v6

      - name: Build
        run: |
          go build -ldflags="-s -w" -v .
